/.vscode
/test2.exe
/test2.o
/АБс-323_Быкова_В_Лабораторная_Одномерные массивы.doc
task1.exe
task1.o
~WRL0001.tmp
~$с-323_Быкова_В_Лабораторная_Одномерные массивы.doc
task3/task3.exe
task3/task3.o
task4/task4.exe
АБс-323_Быкова_В_Лабораторная_Многофайловые проекты.doc
~$с-323_Быкова_В_Лабораторная_Многофайловые проекты.doc
